.mid{
    border: 10px solid ;
    /* border color: aqua; */
    text-decoration: overline;
    border: 10px solid tomato;
    border-radius: 20px;
    /* box-shadow: 10px; */
    box-shadow: 10px 20px 30px;
}
.colo{
    box-shadow: 10px 20px 30px rebeccapurple;
    margin:20px solid;
    padding: 20px;
    display: block;
}
.marbel{
    text-align: center;
    height: 500px ; background-color: antiquewhite;
    background-image: url(photo.png.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: contain;
    
}
.dolor{
    border: 2px solid;
    
}