body{
    font-family: 'lato',sans-serif;
    font-family: 'open sans',sans-serif;
}
.banner1{
    text-align: left;
    display: flex;
    float: left;
    max-width: 50%;
    float: left;
    padding: 60px 0;
    margin: auto;
    clear: both;
}

